{#// /extends my main page which contains navbar footer ....etc*/#}
{% extends 'base.html.twig' %}

{% block body %}
    {# Header Page title #}
    <h1>Welcome To About Us Page</h1>
    <p>
        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
        التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك
        يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف
        عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي
        الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب
        تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum"
        في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى
        السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،
        وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
    </p>
    <p>
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
        Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В
        то время некий безымянный печатник создал большую коллекцию размеров и форм
        шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только
        успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
        дизайн. Его популяризации в новое время послужили публикация листов Letraset с
        образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы
        электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem
        Ipsum.
    </p>
{% endblock %}