{#// /extends my main page which contains navbar footer ....etc*/#}
{% extends 'base.html.twig' %}
{% block body %}
    {# Header Page title #}
    <h1 class="text-center">Welcome To Add New Article  Page</h1>

{% endblock %}